body{
    background-color: bisque;
}

.card{
    background-color: white;
    width: 45%;
    display: flex;
    justify-content: center;
    border-radius: 10px;    

     
}

.parent{
    display: flex;
    justify-content: center;
    margin-top:5% ;
    border-radius:10px ;
}

.pic{
    width:100% ;
    border-radius:10px 0px 0px 10px ;
}

.droite{
    margin-top: 5%;
    width:50% ;
    /* background-color: red; */
    margin-left: 6%;
    margin-right: 6%;
}

.gauche{
    width:50% ;
    /* background-color: blue; */
}

.perfume{
    font-family:'Courier New', Courier, monospace;
    color: grey;
}

.gabriel{
    width:70% ;
}

p{
    color: grey;
    width:80% ;
}

.chiffre{
    display:flex ;
    gap: 5%;
}

strike{
    font-size: small;
    color: grey;
}

.right{
    margin-top: 11%;
}

.bouton{
    margin-bottom:15% ;
}

.ajouter{
    background-color: chartreuse;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px ;   
    border: none;
    display: flex;
    justify-content: center;
     gap: 4%;
    /*align-items: center; */
}

.icon{
    width:7% ;
}

.texte{
    color: green;

}

h1{
    color: green;
}