body{
    background-color: red;
}

.card {
    background-color:green ;
    display: flex;
    width: 45%;
    height: 45% ;

}

.droit {
    display: flex;

}

.perfume {
    font-family: Arial, Helvetica, sans-serif;
}

/* .Gabriel{
    
} */

.texte{
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parfum{
    width: ;
}